
body{

    background-color:  rgba(62, 186, 218, 0.822);
}

#timetable_area{

    display: flex;
    justify-content: center;
    align-items: center;

}

.table{

    background-color: grey;

    border-width: 5px;
    border-color: black;



}

tr td{

    border-style: solid;

    padding: 10px;



}